<nav id="main-nav" class="navbar navbar-default" role="navigation">
    <div class="container">
	  <a class="navbar-brand" href="<%- config.root %>"><%= config.title %></a>
      <div class="collapse navbar-collapse nav-menu">
		<ul class="nav navbar-nav">
		  <% theme.menu.forEach(function(m){ %>
		  <li>
			<a href="<%- config.root %><%- m.url %>" title="<%- m.intro %>">
			  <i class="<%- m.icon %>"></i><%- m.title %>
			</a>
		  </li>
		  <% }) %>
		</ul>
      </div>
    </div> <!-- container -->
</nav>
<div class="clearfix"></div>
<div class="navbar-margin"></div>

